* {
  margin: 0;
  padding: 0;
  list-style: none; /*may remove*/
}

body { /*may remove*/
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
}





/* Header */
.Parent-Header {
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.Container {
  max-width: 1115px;
  margin: 0px auto;
  width: 100%;
}

.Wrapper-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.Menu-Header ul li, .Links-Footer ul li {
  display: inline-block;
  position: relative;
}

.Menu-Header ul li a, .Links-Footer ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-left: 35px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.Menu-Header ul li a:hover {
  border-bottom: 1px solid #fff;
}

.Hamburger {
  display: none;
  cursor: pointer;
}

.Bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
/* Header */



/* Home */

.Parent-Home {
  position: relative;
  z-index: 1; 
  background-image: url("../Assets/images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
}

.Parent-Home::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.Text-Home {
  padding-top: 200px;
}

.Text-Home h1 {
  padding: 20px 25px;
  border: 2px solid white;
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  color: white;
  letter-spacing: 5px;
}



/* Main Image */
.Parent-Img {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Container-Img {
  position: relative;
  z-index: 1;
}

.TextBox-Img {
  position: absolute;
  left: 50%;
  bottom: 0%;
  background-color: rgb(255, 255, 255);
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  z-index: 2;
}

.TextBox-Img h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
  line-height: 1;
}

.Text-Img p {
  font-size: 14px;
  font-weight: 600;
  color: #696969;
  line-height: 2;
}
/* Main Image */


/* Gallery */
.Parent-Gallery {
  padding-bottom: 100px;
}

.Wrapper-Gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

.Heading-Gallery h2 {
  font-size: 42px;
  text-transform: uppercase;
  color: black;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.Child-Button-Gallery {
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  display: inline-block;
  padding: 8px 48px;
  text-decoration: none;
  transition: 0.3s;
}

.Child-Button-Gallery:hover {
  background-color: black;
  color: white;
}

.Box-Gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.BOXES {
  position: relative;
  z-index: 1;
}

.BOXES::after {
  position: absolute;
  content: '';
  left: 0%;
  top: 0%;
  width: 100%;
  height: 99%;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
  
}

.BOXES:hover::after {
  transition: 0.3s;
  border-bottom: 3px black solid;
  background-color: white;
  opacity: 0.7;
}



.BOXES h3 {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 35px;
  text-transform: uppercase;
  color: white;
  font-size: 26px;
  font-weight: 100;
  line-height: 1;
  transition: 0.5s;
}

.BOXES:hover h3 {
  color: black;
}
/* Gallery */




/* Footer */
.Parent-Footer {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Logo-Footer {
  margin-bottom: 20px;
}

.Links-Footer ul li a {
  margin-left: 0;
  margin-right: 35px;
}
.Flex-Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Media-Footer ul {
  text-align: right;
}

.Media-Footer ul li {
  display: inline-block;
  margin-left: 15px;
}

.Media-Footer ul li a img{
  transform: scale(1);
  transition: 0.3s;
}

.Media-Footer ul li a:hover img{
transform: scale(1.5);
}

.Copyright p {
  color: white;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
/* Footer */

/* RESPONSIVE */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .Container {
    max-width: 960px;
  }

  .TextBox-Img h2{
    font-size: 46px;
  }

  .TextBox-Img {
    padding: 50px 50px 0 50px;
  }

  .Box-Gallery {
    margin-bottom: 20px;
  }

  .BOXES {
    margin-right: 20px;
  }

  .Box-Gallery div:last-child{
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Container {
    max-width: 720px;
  }

  .TextBox-Img{
    position: static;
    left: 0;
    padding: 40px 40px 0 40px;
  }

  .Box-Gallery {
    margin-bottom: 15px;
  }

  .BOXES {
    margin-right: 15px;
  }

  .Box-Gallery div:last-child{
    margin-right: 0;
  }

  .Links-Footer ul li a {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  section {
    padding: 0px 15px;
  }

  .Parent-Header {
    width: -webkit-fill-available;
  }

  .Hamburger {
    display: block;
  }

  .Hamburger.active .Bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .Hamburger.active .Bar:nth-child(2) {
    opacity: 0;
  }

  .Hamburger.active .Bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .Menu-Header nav ul {
    position: fixed;
    left: -100%;
    top: 115px;
    background-color: black;
    width: 100%;
    text-align: center;
    transform: 0.3s;
  }
  .Menu-Header nav ul.active {
    left: 0;
    padding: 30px 0px;
  } 

  .Menu-Header nav ul li, .Links-Footer ul li{
    display: block;
    margin-bottom: 25px;
  }

  .Menu-Header nav ul li:last-child {
    margin-bottom: 0;
  }

  .Menu-Header nav ul li a {
    border-bottom: none;
    margin-left: 0;
  }

  .Menu-Header nav ul li a:hover {
    border-bottom: none;
    color: rebeccapurple;
  }

  .Parent-Home {
    height: 500px;
  }
  
  .Text-Home h1{
    padding: 20px 20px;
    font-size: 36px;
    letter-spacing: normal;
    line-height: 1.2;
  }
  
  .TextBox-Img {
    position: static;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
  }

  .TextBox-Img h2 {
    font-size: 35px;
    display: inline-block;
  }

  .Wrapper-Header {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .Heading-Gallery h2{
    font-size: 26px;
    display: inline-block;
    margin-bottom: 20px;
  }

  .Box-Gallery {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .BOXES {
    margin-bottom: 15px;
  }

  .Flex-Footer {
    flex-wrap: wrap;
  }

  .Logo-Footer {
    margin-bottom: 35px;
  }
  
  .Links-Footer ul li a {
    margin-right: 0;
  }

  .Media-Footer ul {
    text-align: left;
  }

  .Media-Footer ul li:first-child {
    margin-left: 0;
  }

  .Right-Footer {
    margin-top: 25px;
  }
}

